.product-container{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden; */
}

.product-container img{
    width: 100%;
    border-radius: 10px;
}

.card {
    width: 300px;
    height: 509px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

button {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    border: 0;
    background-color: orange;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button p {
    margin-right: 5px;
}

.other-info{
    padding: 10px;
}

.other-info > p {
    margin: 0;
    
}

.padding {
    padding: 10px;
}